body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;

  background-image: url(/imagens/imgfundo.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;


}

h1 {
  color: #33941b;
  font-size: 5rem;
  font-family: Arial, sans-serif;
  text-align: center;
  margin-bottom: 10px;
}

p {
  color: #33941b;
  font-size: 3rem;
  margin-top: 5px;
  text-align: center;
}


.login-container {
  background-color: rgba(240, 248, 255, 0.95);
  width: 320px;
  padding: 25px;
  border-radius: 12px;


  margin-left: auto;
  margin-right: 100px;
  margin-top: 50px;


  border: 2px solid #28a745;
  box-shadow: 0 0 18px rgba(40, 167, 69, 0.6);
  box-sizing: border-box;
}


.login-container h2 {
  color: #00d25b;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 22px;
}


.login-container .input-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}



.login-container .input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 6px;
  font-size: 13px;
  outline: none;
  box-sizing: border-box;
}

.login-container .input-group input:focus {
  border-color: #28a745;
}


.login-container .btn-login {
  width: 100%;
  padding: 11px;
  background-color: #00d25b;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.login-container .btn-login:hover {
  background-color: #00b04c;
}


.login-container .login-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
}

.login-container .login-footer a {
  color: #555555;
  font-size: 12px;
  text-decoration: none;
}

.login-container .login-footer a:hover {
  color: #28a745;
}

.login-container {
  background-color: rgba(240, 248, 255, 0.95);
  width: 320px;
  padding: 25px;
  border-radius: 12px;


  margin: 40px auto;


  border: 2px solid #28a745;
  box-shadow: 0 0 18px rgba(40, 167, 69, 0.6);
  box-sizing: border-box;
}

footer {
  background-color: #626664;
  color: aliceblue;
  padding: 20px;
  text-align: center;
  margin-top: auto;
}

footer p {
  margin: 0;
  font-size: 14px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}