*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-image: url("imgblack.png");
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover;
  background-color: #000000;
  color: #ffffff;
  padding: 40px 80px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo-icon {
  font-size: 3rem;
}

.logo-text {
  display: flex;
  flex-direction: column;
  color: #74e062;
  font-weight: 900;
  font-size: 1.8rem;
  line-height: 0.95;
  letter-spacing: 1px;
}

.nav-menu {
  background-color: #3f464d;
  padding: 14px 45px;
  border-radius: 30px;
  display: flex;
  gap: 50px;
  
}

.nav-menu a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
}

.nav-menu a.active 
  .nav-menu a:hover {
    color: #5de251;
}



.container {
  display: grid;
  grid-template-columns: 1.3fr 0.7fr;
  gap: 60px;
  align-items: center;
  flex-grow: 1;
}


.hero-title {
  color: #74e062;
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.1;
  margin-bottom: 30px;
  letter-spacing: 1.5px;
}

.hero-text {
  font-size: 1.15rem;
  line-height: 1.7;
  color: #d1d1d1;
  margin-bottom: 50px;
  max-width: 850px;
}


.cards-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.card {
  background-color: #3f464d;
  padding: 45px 20px;
  border-radius: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.card-icon {
  font-size: 3.5rem;
}

.card p {
  font-size: 1.1rem;
  font-weight: bold;
  font-style: italic;
  color: #ffffff;
  line-height: 1.3;
}


.content-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.container-imagem {
  display: block;
  width: 100%;
  max-width: 480px;
}

.img-responsive {
  width: 100%;
  height: auto;
  display: block;
}


.btn-vamos-la {
  background-color: #74e062;
  color: #000000;
  border: none;
  padding: 18px 0;
  width: 100%;
  max-width: 380px;
  border-radius: 50px;
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  transition: transform 0.2s, background-color 0.2s;
}

.btn-vamos-la:hover {
  background-color: #61d44f;
  transform: scale(1.04);
}

.nav-menu a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.nav-menu a.active {
  color: #74e062;
}
